.interface {
  color: white;

  .pause {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    border: solid white 10px;
    box-sizing: border-box;
    pointer-events: none;
  }

  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16181e;
    opacity: 1;
    pointer-events: none;
  }

  .loader_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    width: 200px;
  }

  .splash_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
  }

  .splash_baseline {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
  }

  .tuto_explanations, .tuto_training {
    opacity: 0;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .oui_img { margin-top: 40px; width: 230px; }

  .game { opacity: 0; }

  .game p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .interface_logo {
    position: absolute;
    left: 3.5%;
    top: 3%;
    width: 50px;
  }

  .skip_tuto {
    position: absolute;
    left: 78%;
    top: 94%;
    width: 300px;
    opacity: 0;
  }

  .skip_arrow {
    top: 92.5%;
    width: 50px;
    left: 72.5%;
  }

  .about {
    position: absolute;
    display: flex;
    align-items: center;
    right: 3.5%;
    top: 3%;
    .interface_about {
      width: 50px;
    }
    .about_text {
      width: 150px;
      text-align: right;
      margin-right: 20px;
    }
  }

  .help {
    position: absolute;
    display: flex;
    align-items: center;
    left: 3.5%;
    top: 92.5%;
    .interface_help {
      width: 50px;
    }
    .help_text {
      width: 150px;
      margin-left: 20px;
    }
  }

  .socials {
    position: absolute;
    right: 3.5%;
    top: 92.5%;
    .interface_fb {
      width: 14px;
    }
    .interface_twitter {
      width: 26px;
      margin-left: 20px;
    }
  }

}
