.interface {
  color: white;

  .pause {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    border: solid white 10px;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.5s;
  }

  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16181e;
    opacity: 1;
    pointer-events: none;
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
  }

  .loader_logo { width: 340px; }

  .loader_margin {
    opacity: 0;
    font-family: overpass-light;
    font-size: 3rem;
    margin-top: 50px;
  }

  .splash {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .splash_logo { width: 200px; }

  .splash_baseline {
    font-family: overpass-light;
    font-size: 3rem;
    margin-top: 50px;
  }

  .tuto_explanations, .tuto_training {
    opacity: 0;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .tuto_explanations {
    font-family: overpass-light;
    font-size: 3rem;
  }
  .tuto_explanations_baseline { font-size: 2.4rem; opacity: 0.5; }

  .tuto_training {
    font-family: overpass-light;
    font-size: 3rem;
  }
  .tuto_training_consigne {
    font-size: 2.4rem;
    opacity: 0.5;
  }

  .oui_img { margin-top: 40px; width: 230px; }

  .game { opacity: 0; display: none;}

  .game p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: overpass-light;
    font-size: 3rem;
  }

  .interface_logo {
    position: absolute;
    z-index: 6;
    left: 3.5%;
    top: 3%;
    width: 50px;
  }

  .skip_tuto { transition: all 0.1s; opacity: 0; display: none; }
  .skip_arrow { transition: all 0.1s; width: 50px; margin-left: 10px;}
  .skip { cursor: pointer; position: absolute; display: flex; align-items: center; right: 3.5%; bottom: 3%; font-family: overpass-regular; font-size: 2rem; }

  .about {
    cursor: pointer;
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    right: 3.5%;
    top: 3%;
    .interface_about {
      width: 50px;
    }
    .about_text {
      width: 150px;
      text-align: right;
      margin-right: 0px;
      font-family: overpass-regular;
      font-size: 2rem;
      opacity: 0;
    }
  }

  .help {
    cursor: pointer;
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    left: 3.5%;
    bottom: 3%;
    .interface_help {
      width: 50px;
    }
    .help_text {
      width: 150px;
      margin-left: 0px;
      font-family: overpass-regular;
      font-size: 20px;
      opacity: 0;
    }
  }

  .help_screen, .about_screen{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: overpass-light;
    font-size: 2.4rem;
    pointer-events: none;
  }

  .bold { font-family: overpass-bold; }

  .about_logos {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 75px;
    align-items: center;
    height: 145px;
  }

  .gobelins_logo, .jardin_logo, .asterios_logo {
    float: left;
    width: 150px;
    display: block;
    margin: auto;
  }

  .jardin_logo { width: 190px; }
  .asterios_logo { width: 110px; }

  .help_img { width: 430px; margin-top: 50px; }

  .socials {
    position: absolute;
    z-index: 6;
    right: 3.5%;
    bottom: 3%;
    .interface_fb {
      width: 14px;
      cursor: pointer;
    }
    .interface_twitter {
      width: 26px;
      margin-left: 25px;
      cursor: pointer;
    }
  }
}

/*@media screen and (max-width: 1580px) {
  .gobelins_logo { width: 125px; }
  .jardin_logo { width: 158px; }
  .asterios_logo { width: 92px; }
}

@media screen and (max-height: 1020px) {
  .gobelins_logo { width: 125px; }
  .jardin_logo { width: 158px; }
  .asterios_logo { width: 92px; }
}

@media screen and (max-width: 1100px) {
  .gobelins_logo { width: 100px; }
  .jardin_logo { width: 127px; }
  .asterios_logo { width: 73px; }
}

@media screen and (max-height: 750px) {
  .gobelins_logo { width: 100px; }
  .jardin_logo { width: 127px; }
  .asterios_logo { width: 73px; }
}*/
