.artist-lirary-button, .go-to-billeterie {
  color: #fff;
  background-color: rgba(0 , 0, 0, 0.2);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  height: 40px;
  font-family: 'overpass-light';
  cursor: pointer;
  text-transform: uppercase;
}

.go-to-billeterie {
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 300px;
  cursor: pointer;
}

.artistsLibrary {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  opacity: 0;
  pointer-events: none;

  button {
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    top: 4.5%;
    right: 3.1%;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  > div {
    width: 50%;
    height: 50%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background-image: url('../assets/library/orelsan.png');
    }

    &:nth-of-type(2) {
      background-image: url('../assets/library/mllek.png');
    }

    &:nth-of-type(3) {
      background-image: url('../assets/library/petitbiscuit.png');
    }

    .lock {
      width: 102%;
      height: 102%;
      left: -1%;
      top: -1%;
      background-image: url('../assets/library/lock.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      &.is-hidden {
        display: none;
      }
    }

    .name {
      position: absolute;
      bottom: 40px;
      right: 30px;
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'overpass-bold';

      &.gray {
        color: gray;
      }
      &.yellow {
        color: #f9e9ba;
      }
      &.pink {
        color: #e4a9c7;
      }
    }
    .chord {
      position: absolute;
      bottom: 18px;
      right: 30px;
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'overpass-semibold';
    }
  }
}
