.songCarateristics {
  .songsName {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 4.5%;
    left: 3.1%;

    .next-button {
      width: 50px;
      margin-right: 20px;
      opacity: 0;
      cursor: pointer;
    }
    .artist {
      font-family: 'overpass-bold';
      font-size: 18px;
      margin: 0 0 0px 0;
      color: #fff;
      text-transform: uppercase;
      opacity: 0;
      text-decoration: none;

      &.gray {
        color: #f2a752;
      }
      &.yellow {
        color: #f9e9ba;
      }
      &.pink {
        color: #e4a9c7;
      }
    }
    .song {
      font-family: 'overpass-regular';
      font-size: 18px;
      margin: 0;
      margin-top: -2px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
    }
  }

  .letters {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;

    span {
      position: absolute;
      color: #fff;
      font-family: 'gilroy-medium';
      font-size: 250px;
      text-transform: uppercase;
      letter-spacing: 10px;
      opacity: 0;
      background: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &.one {
        left: calc(50% - 600px);
        top: calc(50% - 450px)
      }

      &.two {
        left: calc(50% - 450px);
        top: calc(50% + 100px)
      }

      &.three {
        left: calc(50% + 400px);
        top: calc(50% - 300px)
      }

      &.gray1 {
        background: -webkit-linear-gradient(bottom left, #514738, #2a251e 116%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.gray2 {
        background: -webkit-linear-gradient(top right, #514738 29%, #2a251e 101%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.gray3 {
        background: -webkit-linear-gradient(bottom right, #514738, #2a251e 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.red1 {
        background: -webkit-linear-gradient(top right, #7e2930 29%, #0f0508 101%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.red2 {
        background: -webkit-linear-gradient(top right, #7e2930 29%, #0f0508 101%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.red3 {
        background: -webkit-linear-gradient(bottom right, #7e2930, #0f0508 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.blue1 {
        background: -webkit-linear-gradient(bottom left, #203d75 -23%, #020a14 101%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.blue2 {
        background: -webkit-linear-gradient(bottom right, #203d75, #020a14 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.blue3 {
        background: -webkit-linear-gradient(top right, #203d75 0% , #020a14 89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
